* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* e.g. When adding padding etc., it applies to inside the element */
}

body {
    font-family: sans-serif;
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: #ffdcb1;
}
.snare-pad {
    background: #ffacbd;
}
.hihat-pad {
    background: #bab5cf;
}

.kick-pad.active {
    background: #b78546;
}
.snare-pad.active {
    background: #8f2237;
}
.hihat-pad.active {
    background: #4e4863;
}

.hihat-track,
.snare-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.hihat,
.snare,
.kick {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(90, 90, 90);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(90, 90, 90);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}
