* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* e.g. When adding padding etc., it applies to inside the element */
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #afafaf, #6e6e6e);
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: #ffdcb1;
}
.snare-pad {
    background: #ffacbd;
}
.hihat-pad {
    background: #bab5cf;
}

.kick-pad.active {
    background: #b78546;
}
.snare-pad.active {
    background: #8f2237;
}
.hihat-pad.active {
    background: #4e4863;
}

.hihat-track,
.snare-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.hihat,
.snare,
.kick {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls h1 {
    width: 50%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(90, 90, 90);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(90, 90, 90);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 1rem;
    width: 40%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.mute.active {
    background: grey;
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(80, 80, 80);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
