* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* e.g. When adding padding etc., it applies to inside the element */
}

body {
    font-family: "Poppins", sans-serif;
}

i,
svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick-pad,
.clap-pad,
.perc-pad,
.shaker-pad,
.snare-pad,
.tom-pad,
.hihat-pad,
.openhat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: #bef5ff;
}
.clap-pad {
    background: #d4ffc3;
}
.perc-pad {
    background: #e9b8d9;
}
.shaker-pad {
    background: #ffa486;
}
.snare-pad {
    background: #aaa0a5;
}
.tom-pad {
    background: #9cb9bb;
}
.hihat-pad {
    background: #f1d6ae;
}
.openhat-pad {
    background: #cf8991;
}

.kick-pad.active {
    background: #29adc2;
}
.clap-pad.active {
    background: #65805b;
}
.perc-pad.active {
    background: #824c71;
}
.shaker-pad.active {
    background: #ff4000;
}
.snare-pad.active {
    background: #201e1f;
}
.tom-pad.active {
    background: #4a5859;
}
.hihat-pad.active {
    background: #f4b860;
}
.openhat-pad.active {
    background: #c83e4d;
}

.kick-track,
.clap-track,
.perc-track,
.shaker-track,
.snare-track,
.tom-track,
.hihat-track,
.openhat-track {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick,
.clap,
.perc,
.shaker,
.snare,
.tom,
.hihat,
.openhat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls h1 {
    width: 35%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(150, 206, 168);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 15%;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(90, 90, 90);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
    width: 20%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.mute.active {
    background: rgb(180, 87, 87);
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(150, 206, 168);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
